/* any custom CSS we want for our project */

body {
  /* !important used to override Bootstrap's standard color choice */
  background-color: lightgreen !important;
}

.jumbotron {
  /* !important used to override Bootstrap's standard color choice */
  background-color: salmon !important;
}
