<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weekend Challenge 4</title>
    <!-- Bootstrap -->
    <link href="vendors/css/bootstrap.css" rel="stylesheet">
    <!--link in any custom CSS files-->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!--source in jQuery-->
    <script src="vendors/jquery/jquery.js" charset="utf-8"></script>
    <!--source in script file(s) - IF USING GRUNT TO MINIFY - make sure you're sourcing in the .min.js file-->
    <script src="scripts/client.min.js" charset="utf-8"></script>
</head>
<body>
  <div class="container-fluid">
    <!--jumbotron is a Bootrap class-->
    <div class="jumbotron">
      <h1 class="display-3">Prime Digital Real Estate</h1>
      <p class="lead">
        How real is it...?
      </p>
      <hr class="my-4">
        <form class="newProperty">
          <div class="form-group">
            <label>What type of property are you listing?</label><br>
            <label class="radio-inline"><input type="radio" name="optionsRadios" id="saleProp" value="Sale Property" checked>Sale Property</label>
            <label class="radio-inline"><input type="radio" name="optionsRadios" id="rentalProp" value="Rental Property">Rental Property</label>
          </div>
          <div class="form-group text-left">
            <label>Where is the precise placement of the property?</label>
            <input type="text" class="form-control" id="location" placeholder="City">
          </div>
          <div class="form-group text-left">
            <label class="text-left">How much room to roam does the property possess?</label>
            <input type="number" class="form-control" id="size" placeholder="Square Footage">
          </div>
          <div class="form-group text-left">
            <label class="text-left">How much cash do you hope to collect?</label>
            <input type="number" class="form-control" id="price" placeholder="Sale Price">
          </div>
          <button type="submit" class="btn btn-lg submitBtn">Submit Listing</button>
        </form>
    </div>
    <div class="listingsDisplay">
      <div class="row"> <!-- ROW 1 -->
        <!-- LEFT HALF -->
        <div id="for-sale" class="col-lg-6">
          <!-- DYNAMICALLY POPULATED -->
        </div>
        <!-- RIGHT HALF -->
        <div id="for-rent" class="col-lg-6">
          <!-- DYNAMICALLY POPULATED -->
        </div>
      </div> <!-- end row 1 -->
    </div> <!-- end listingsDisplay -->
    <!--MODAL FOR EDITING PROPERTIES-->
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit Property Details</h4>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"/>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
                </div>
                <div class="checkbox">
                  <label for="exampleInputPassword1">Password</label>
                    <input type="checkbox"/> Check me out
                </div>
          </div> <!--end modal body-->
          <!-- Modal Footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form> <!--end form-->
          </div>
        </div>
      </div>
    </div> <!--end modal-->
  </div>
  <!--BOOTSTRAP NEEDS TO BE SOURCED IN JUST BEFORE THE CLOSING </body> TAG-->
  <script src="vendors/js/bootstrap.js"></script>
</body>
</html>
