<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weekend Challenge 4</title>
    <!-- Bootstrap -->
    <link href="vendors/css/bootstrap.css" rel="stylesheet">
    <!--link in any custom CSS files-->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!--source in jQuery-->
    <script src="vendors/jquery/jquery.js" charset="utf-8"></script>
    <!--source in script file(s) - IF USING GRUNT TO MINIFY - make sure you're sourcing in the .min.js file-->
    <script src="scripts/client.min.js" charset="utf-8"></script>
</head>
<body>
  <div class="container-fluid">
    <!--jumbotron is a Bootrap class-->
    <div class="jumbotron text-center">
      <h1 class="display-3">Triple R Estate!</h1>
      <p class="lead">
        Really, Really Real...for real...
      </p>
      <!-- MAY BE USEFUL FOR ADDING PROPERTY
      <hr class="my-4">
        <p>
          As I write that and count the 12 tools used, I feel less ridiculous for feeling the need to create this...
        </p>
        <p class="lead">
          <button id="helloBtn" class="btn btn-primary btn-lg">Say "Hi!"</button>
        </p>
      -->
    </div>
    <div class="listingsDisplay">
      <div class="row"> <!-- ROW 1 -->
        <!-- LEFT HALF -->
        <div class="col-md-6">
          <h2 class="text-center">Properties For Sale</h2>
          <hr class="my-4">
        </div>
        <!-- RIGHT HALF -->
        <div class="col-md-6">
          <h2 class="text-center">Properties For Rent</h2>
          <hr class="my-4">
        </div>
      </div> <!-- end row 1 -->
      <div class="row"> <!-- ROW 2 -->
        <!-- LEFT HALF -->
        <div id="for-sale" class="col-md-6">
          <!-- TO BE POPULATED BY PROPERTIES THAT ARE FOR SALE -->
        </div>
        <!-- RIGHT HALF -->
        <div id="for-rent" class="col-md-6">
          <!-- TO BE POPULATED BY PROPERTIES THAT ARE FOR SALE -->
        </div>
      </div> <!-- end row 2 -->
    </div> <!-- end listingsDisplay -->
  </div>
  <!--BOOTSTRAP NEEDS TO BE SOURCED IN JUST BEFORE THE CLOSING </body> TAG-->
  <script src="vendors/js/bootstrap.js"></script>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
